#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title>p {
  font-size: 60px;
}

.question {
  width: 700px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  font-size: 1.3rem;
}

.answers-container {
  display: grid;
  width: 700px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 10px;
}

.answers-container>button {
  border-radius: 50px;
  font-size: 1rem;
  border: none;
}

.answers-container>button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#root>button {
  margin-top: 30px;
  background-color: rgb(11, 186, 192);
  color: aliceblue;
  border-radius: 7px;
  font-size: 1.1rem;
  border: none;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#root>button:active {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#root>button:active {
  outline: none;
}

@media screen and (max-width: 768px) {
  #root {
    padding: 0.5rem;
  }

  .title>p {
    font-size: 24px;
  }

  .question {
    font-size: 1.2rem;
    width: 100%;
    padding-right: 0;
  }

  .answers-container {
    grid-template-columns: 1fr;
    width: 90vw;
  }
}